<div id="footer">  
  <div class="footer">
  	<a href="/"> Home </a>  ::  
  	<a href="/mailers"> Contact Us </a> ::
  	<a href="#"> FAQ  </a>
    <br />
        &copy; 2014 Gelfand
  </div>
</div>