
<!--
NOTES:
	1. have a static reference with non-working dropdown in individuals page
	2. Had to use jQuery for the dropdown toggle, see application.js in assets/javascripts
-->

<!-- 
See: http://red-team-design.com/simple-and-effective-dropdown-login-box/
	- looks like might be very useful
-->

<div class="contain-to-grid">
   <nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Gelfand Center</a></h1>
		    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>

  <section class="top-bar-section"> <!-- changing this to <section class="top-bar-section"> hides dropdowns, but does not re-					appear -->
	  <ul class="left">
		<!-- Code for search: Start -->
			<li class="has-form">
			  <div class="row collapse">
			    <div class="large-8 small-9 columns">
			      <input type="text" placeholder="Find something">
			    </div>
			    <div class="large-4 small-3 columns">
			      <a href="#" class="alert button expand">Search</a>
			    </div>
			  </div>
			</li>
			<!-- Code for search: End-->
	  </ul>

  	    <!-- Right Nav Section -->
	<ul class="right">
	      <li><a href="#">Contact</a></li>
	      <li class="divider"></li>

		  <li id="signup">
		      <a href="">Sign up</a>
		  </li>

		  <li class="divider"></li>
          
          <li id="login">
	       <a id="login-trigger">
	         Log in <span>▼</span>
	       </a>
	       	<!-- form stuff for 'Login' tab-->
			      <div id="login-content">
			        <form>
			          <fieldset id="inputs">
			            <input id="username" type="email" name="Email" placeholder="Email address" required>   
			            <input id="password" type="password" name="Password" placeholder="Password" required>
			            <br>
			            <input type="submit" id="submit" value="Log in">
			          </fieldset>
			            <label><input type="checkbox"> Forgot password?</label>
			        </form>
			      </div>                     
	    </li>
    </ul>

  </section>
  </nav>
</div>




