<div class="fields">
		<%= f.input :organization_id, :label => 'Affiliate an organization with this program:', :collection => Organization.all %>
		<%= f.input :program_id, :as => :hidden, :input_html => { :value => @program.id } %>

		<%= f.link_to_remove "Remove this affiliation" %>

</div>