<div class="row">
    <div class="small-2 columns leftNav">
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
        
        <ul class="side-nav">
            <li><%= link_to 'Add a Program', new_program_path %> </li>
            <li><%= link_to 'View Completed Programs', programs_path %> </li>
            <li><%= link_to 'People Pending Background Checks', programs_path %></li>
        </ul> 
    
        <br />
    
    </div>

    <div class="small-5 columns rightContent">

    </div>

    <div class="small-5 columns rightContent">

    </div>
</div>

<br>