<div class="row">
    <div class="small-2 columns leftNav">
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
        
        <ul class="side-nav">
            <li><%= link_to 'Add a Program', new_program_path %> </li>
            <li><%= link_to 'View Completed Programs', programs_path %> </li>
            <li><%= link_to 'People Pending Background Checks', programs_path %></li>
        </ul> 
    
        <br />
    
    </div>

    <div id="leftProgramContainer" class="small-4 columns rightContent">
        <h2>Upcoming Programs</h2>
    </div>

    <div id="divider" class="small-2 columns">

    </div>

    <div id="rightProgramContainer" class="small-4 columns rightContent">
        <h2>Ongoing Programs</h2>
    </div>
</div>

<br>