
<div class="row" data-equalizer>
	<div class="small-2 columns leftNav" data-equalizer-watch>
		<%= render "sidebar_from_inside" %>
	</div>

	<div class="small-10 columns rightContent" data-equalizer-watch>
		<h1>New Program</h1>
		<%= render 'form' %>
	</div>
	
</div>
