<div class="row">
    <div class="small-2 columns leftNav">
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
    </div>
    <div class="small-10 columns rightContent">
        <h1>Contact Us</h1>

        <table>
            <tr>
                <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                <td>JCSS</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                <%= mail_to("jerm6002@gmail.com", "Jeremy Chiang", :encode => "javascript") %> 
                </td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>(412) 268-1498</td>
            </tr>
        </table>
    </div>
</div>