<div class="row">

  <div class="small-3 columns leftNav">
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

  </div>

  <div class="small-9 columns rightContent">
		<div class="test">
			<h1> Welcome to the app! </h1>
		</div>


</div>

<p><%= flash[:error] %></p>

