<div class="row" data-equalizer>
  <div class="small-2 columns leftNav" data-equalizer-watch>
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
  </div>

  <div class="small-10 columns rightContent" data-equalizer-watch>

		<% if (current_user != nil) && current_user.admin? %>
			<%= render 'home_for_admin' %>
		<% elsif (current_user != nil) && current_user.member? %>
			<h3> Welcome back to the Gelfand Center! </h3>
			Here you can:	<br>
				- track your background check <br>
				- create/manage your organization <br>
				- add individuals to your organization <br>
		<% else %>
			<h3> Welcome to the Gelfand Center! </h3>
		<% end %>

  </div>

</div>



