<div class="row">
  <div class="small-2 columns leftNav">
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

  </div>

  <div class="small-10 columns rightContent">
		<div class="title">
			<h1> Home </h1>
		</div>

  </div>



</div>



