<div class="row">
  <div class="small-3 columns indexLeftHalf">
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

  </div>

  <div class="small-9 columns indexRightHalf">
		<div class="title">
			<h1> Home </h1>
		</div>

  </div>



</div>



