<h3>Congratulations!</h3>

<p>You have completed all the necessary requirements for background checks and are in accordance with Carnegie Mellon University's policy to work with minors.</p>

<p><strong>If you have not done so, please pick up your background check certificate from Wean Hall 4614</strong></p>

<p>Lastly, do not lose your background check certificate. Most partner organizations require the original copy and will not accept photocopies. If you lose your original copy, you will need to pay for a new background check to be performed.</p>