<h3>You have successfully passed the Criminal Clearance check!</h3>

<p>We have submitted your Child Abuse Clearance form, and are waiting on a reply for the state government. Please be note that this process may take a couple of weeks as the state requires hard copies of forms and they are travelling by mail.</p>

<p>We will notify you once your decision is received.</p>

<p>Until then, feel free to <a href="/mailers">Contact Us</a> if you have any questions. 