<h3>Not Cleared</h3>

<p>There were some issues with your background check. As of now, you will not be able to participate in any programs with minors. The Gelfand Center has notified you through email. We have contacted you through email regarding this matter.</p>

<p>Feel free to <a href="/mailers">Contact Us</a> for further details.</p>