You have officially begun the Background Check Process<br><br>

<h4>What you need to do:</h4>

<ol>
    <li>Print out the <a href="http://www.cmu.edu/gelfand/documents/sp4-164_request_for_criminal_record_check.pdf" target="_blank">Criminal Clearance Form</a> and fill it out.</li>
    <li>Print out the <a href="http://www.cmu.edu/gelfand/documents/dpwchildabuse.pdf" target="_blank">Child Abuse Clearance Form</a> and fill it out.</li>
    <li>Print out the <a href="http://www.cmu.edu/gelfand/documents/release_childabuse.pdf" target="_blank">Child Abuse Release Form</a> and fill it out.</li>
    <li>Bring or Mail the filled out forms to: <br><br>
        Carnegie Mellon<br>
        Wean Hall 4614<br>
        5000 Forbes Avenue<br>
        Pittsburgh, PA 15213<br><br>
    </li>
    <li>Answers to Frequently Asked Questions can be found <a href="http://www.cmu.edu/gelfand/clearance-forms/clearance-faq.html" target="_blank">Here</a>.
</ol>

