<h3>The status of your background check is under review</h3>

<p>There were some issues with your background check. More information may be required. We have notified you through email.</p?>

<p>Feel free to <a href="/gelfand_contact_page.html">Contact Us</a> for further details.</p>

<h4>Possible Issues</h4>
<ul>
    <li>Incorrectly filled out forms</li>
    <li>Incorrect records on criminal history</li>
    <li>The Gelfand Center requires additional information from you</li>
    <li>etc.</li>
</ul>