<div class="row" data-equalizer>
    <div class="small-2 columns leftNav" data-equalizer-watch>
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
    </div>
    <div class="small-10 columns rightContent" data-equalizer-watch>
        <h1>Updating <%= @bg_check.humanize_name %>'s Background Check</h1>
        <%= render 'form' %>
    </div>
</div>