
<%if current_user.admin?%>
    <h1>New bg_check</h1>
    <%= render 'form' %>
    <%= link_to 'Back', bg_checks_path %>
<%else%>
    <p>You have successfully started the Background Check Process</p>

    <p>Click 'Continue' to view the status of your background check</p>

    <%= render 'form' %>

<% end %>




