<div class="row" data-equalizer>
    <div class="small-2 columns leftNav" data-equalizer-watch>
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
        <ul class="side-nav">
    </div>
    <div class="small-10 columns rightContent" data-equalizer-watch>
        <div>
          <% flash.each do |key, value| %>
            <div>
              <a href="#" data-dismiss="alert">×</a>
                <%= value %>
            </div>
          <% end %>
        </div>
    </div>
</div>