/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-datepicker.css
 *= require_tree 
 */

body, html {
    height: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
  max-width: 100%;
  min-width: 100% !important;
  position: relative;
}

.date-switch, .dow, .datepicker .next, .datepicker .prev {
    color:black;
}
