// Place all the styles related to the bg_checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#BeginProcess {
    float:right;
    margin-top: 10%;
    color: #fff
}

.bg-body{
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 5%;
}

.bg-body li a {
    color: #008cba;
}

.bg-status-bar {
    margin-left: 20%;
}


