// Place all the styles related to the home controller here

$height_Main_content: auto;

.title{
	margin: 15px;
	// color: white; <- currently not working, find out why
}


.leftNav{
	background-color:#580000; 
	height: 100vh;
}

.rightContent{
	height: $height_Main_content;
	background-color:#fff; 
}

img{
	border: 3px solid gray;
}

.org_list {
	margin-left: 40px;
	padding: 0 0 0 20px;
	width: 325px;
	height:auto;

	box-shadow: -7px 7px 2px #909090;
	border: 2px solid black;
}