// Place all the styles related to the home controller here

$height_Main_content: 500px;

.title{
	margin: 15px;
	// color: white; <- currently not working, find out why
}

.indexLeftHalf{
	background-color:#580000; 
	border: 2px solid purple;
	height: $height_Main_content;
}

.indexRightHalf{
	height: $height_Main_content;
}

