// Place all the styles related to the individuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
	background-color: sienna;
	font-size:5px;
	color:white;
}

img{
	margin:8px;
	border: 3px solid gray;

}

h1{
	font-size: 36px; 
	font-weight: bold;
	margin:5px;
	padding:10px;
}

table thead tr th{
	color:white;
}

table {
	position:relative; 
	border: 3px solid gray;
	margin-right: 15px;
	margin-bottom: 10px;
}


.leftNav{
	background-color:#580000; 
	border: 2px solid purple;
}

.rightContent{
	background-color: #ccc
}