// Place all the styles related to the individuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$height_Main_content: auto;

th{
	background-color: sienna;
	font-size:5px;
	color:white;
}

img{
	margin:8px;
	border: 3px solid gray;

}

h1{
	font-size: 36px; 
	font-weight: bold;
	margin:5px;
	padding:10px;
}

table thead tr th{
	color:white;
}

table {
	position:relative; 

	margin-right: 15px;
	margin-left:30px;
	margin-bottom: 10px;
}

/******************************
		Side nav
******************************/


.side-nav {
	margin-top: 30px;
	padding:0px;

}

.side-nav li{
	background-color: white;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid black;
	font-weight: bold;
	border-radius: 5px;
}

.side-nav li a{
	font-size: 18px;
	color: green;
	height:inherit;
	padding:10px;
	border-radius: 5px;
	background-color: white;
}


.side-nav li:hover,
.side-nav li a:hover{
	background-color: #060;
}

.indiv_show_OuterDiv {
	margin: 10px;
	padding: 0px;
	height: 250px;


}

.indiv_show_SpecificCell {
	margin: 5px 100px 0px 0px;
	padding: 0px;
	height:50px;
	width:20%;
	float: left;
	font-size: 16px;
	font-family:Tahoma;
}

.indiv_show_Contact {
	margin: 5px 100px 0px 0px;
	padding: 0px;
	height:100px;
	font-size: 16px;
	font-family:Tahoma;
	float:left;

}