// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$height_Main_content: 525px;


img{
	margin:8px;
	border: 3px solid gray;
}

h1{
	font-size: 36px; 
	font-weight: bold;
	margin:5px;
	padding:10px;
}



.indexLeftHalf{
	background-color:#580000; 
	border: 2px solid purple;
	height: $height_Main_content;
}

.indexRightHalf{
	background-color: #E0E0E0      ; 
	height: $height_Main_content;
}

/******************************
		Side nav
******************************/

.side-nav {
	margin-top: 30px;
	padding:0px;

}

.side-nav li{
	background-color: #B8B8B8;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid black;
	font-weight: bold;
	border-radius: 5px;
}

.side-nav li a {
	font-size: 16px;
	color: green;
	height:inherit;
	padding:10px;
	border-radius: 5px;

	font-family: Lucida Sans Unicode;
}


.side-nav li:hover,
.side-nav li a:hover{
	background-color: #060;
}

.side-nav #active{
	background-color: #040;	
}

.side-nav #active {
	color: #D0D0D0 ;	
}

#underManage a{
	padding-left:50px;
}

.my_memberships_outerDiv {
	border: 2px solid black;
	margin-left: 20px;
	padding: 10px 0 10px 15px;
	width: 300px; // remove makes responsive, but extends to width of entire nav
	box-shadow: -7px 7px 5px #888888;
}

ul.my_memberships_list {
	margin-top: 5px;
	padding:0;
	list-style-type:none;
	font-weight: bold;
	letter-spacing: 3px;
}

ul.my_memberships_list li, 
ul.my_memberships_list li a
{
	margin: 0 0 0 10px;
	font-weight: normal;
	letter-spacing: normal;
}

.orgs_actions {
	margin-top: 20px;
	font-weight:bold;
	font-size: 24px;
}

.org_form{
	padding-left: 12px;
}