// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$height_Main_content_Programs: auto;

.progListHead {
	font-size: 24pt;
	padding-top: 5px;
}

.progListContent {
	background-color: #a0a0a0;
}

.progTableHead div {
	font-weight: bold;

}

.progShowPanel {
	padding: 1%;
}


#indentSideBarViewTabs li a{
	padding-left: 25px;

}

.programField {
	padding-left: 2%;
	padding-right: 2%;
}