<table>
<tbody>
	<tr><td>  <%= render 'quick_affiliate_program_on_Org_Show_page' %> </td></tr>
	    <% @organization.affiliated_progs.each do |prog| %>
	    		<tr > <td  class ="tableData"> <%= link_to prog.name, program_path(prog) %> </td>
                     <td class ="tableData">
                     	<%= link_to "#{image_tag('remove_gray_bg.png', size: "16x16", alt: "Remove this program?")}".html_safe, 
                     	   {:controller => "affiliations", :action => "destroy", 
                            :organization_id => @organization.id, :program_id => prog.id }, 
                     method: :delete %></td>
	    		</tr>
	    <% end %>
</tbody>
</table>