<div class="row">
  <div class="small-2 columns leftNav">
      <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
  </div>


  <div class="small-10 columns rightContent">
        <p id="notice"><%= notice %></p>
		<h1>New organization</h1>

	<div class="org_form">
		<%= render 'form' %>
	</div>

		<div class="orgs_actions"><%= link_to 'Back', organizations_path %></div>
  </div>
</div>