
<div class="row" data-equalizer>
      <div class="small-2 columns leftNav" data-equalizer-watch>
          <%= render 'sidebar' %>
      </div>


      <div class="small-6 columns rightContent" data-equalizer-watch>
    		<h1>Create an Organization</h1>
   
          	<div class="org_form">
          		<%= render 'form' %>
          	</div>
      </div>

      <div class="small-4 columns" data-equalizer-watch>
      </div>
</div>