
<div class="row" data-equalizer>

  <%= render 'sidebar' %>
  <div class="small-4 columns" data-equalizer-watch>
		<h1>Create An Organization</h1>
        <p>TODO paragraph explaining organization creation</p>
	<div class="org_form">
		<%= render 'form' %>
	</div>
  </div>
  <div class="small-4 columns" data-equalizer-watch>
  </div>
</div>