<div class="row" data-equalizer>
  <div class="small-2 columns leftNav" data-equalizer-watch>
    <%= render 'sidebar' %>
  </div>

  <div class="small-10 columns rightContent" data-equalizer-watch>
      <h1>Overview of Org actions</h1>

		  <% if (current_user && current_user.admin) %>
		  		As an Admin user, you are allowed to perform any action.<br>
		  		Most of them are listed below. <br><br>
		  <% end %>
		  
		  <% if current_user %>
		  		<% if (current_user && current_user.admin) %>
		  			As an Admin of the system, you can:
		  		<% else %>
		  			As a Member of the Gelfand Center, you can:
		  		<% end %>
		  		<ul>
		  			<li>
						<strong>Create:</strong><br>
						<ul><li>Organizations</li></ul>
						<ul><li>Programs</li></ul>
		  			</li>
		  			<br>
		  			<li>
						To an organization that you created:<br>
						<ul><li><strong>Add: </strong> members or programs</li></ul>
						<ul><li><strong>Edit: </strong>organizations or programs</li></ul>
						<ul><li><strong>Remove: </strong>programs or members</li></ul>
		  			</li>
		  		</ul>
		  		<br>
		  		<h5><strong>Note: </strong></h5>
		  		When adding a member to an Org, if he or she already exists in the system,<br>
		  		he or she will be added. <br>
		  		Otherwise a notice will be sent to that member to sign up. <br>
		  <% end %>
  </div>
</div>
